; sudo nano /etc/systemd/system/irebot.service
; sudo systemctl daemon-reload
; sudo systemctl start irebot
; sudo systemctl start irebot

[Unit]
Description=irebot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/IreBot/
ExecStart=/home/ubuntu/IreBot/.venv/bin/python3.12 src/main.py
User=ubuntu
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target