name: Deploy
run-name: Deploy the code, sync the Venv and restart the Bot

on:
  push:
    branches:
      - 'main'
        
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5 
    
    - name: Restarting the bot
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        USERNAME: ${{ secrets.USERNAME }}
        PORT: ${{ secrets.PORT }}
        KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ./IreBot
          git pull
          ~/.local/bin/uv sync --no-dev
          sudo systemctl restart irebot.service
          sudo systemctl start irebot.service